/* CentrePart.css */
.centre-part-wrapper {
    padding: 20px; /* Add padding to create a wrapper */
    
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
.centre-part {
    flex: 1;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 50px; /* Add space between the Centre Part and Right Part */
  }
  
  .search-groups {
    margin-bottom: 20px; /* Add space below the "Search Groups" section */
  }

  
  .search-groups h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .search-engine {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .search-engine input {
    flex: 2; /* Adjust the flex value to control width */
    min-width: 1000px; /* Set a minimum width for the input */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .search-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
  }
  
  /* Rest of your styles */
  